@page "/"
@using Microsoft.Fast.Components.FluentUI
@using System.Text.Json
@inject IJSRuntime _jsRuntimeService;

<div style="display: flex; align-items: center; flex-direction: column; margin-top: 20px;">
    <h2 style="margin-bottom: 16px;">Table Splitbot</h2>

    @if (Tables.Count > 1)
    {
        <div style="margin-top: 12px; display: flex; align-items: center; flex-direction: column;">
            <label style="width: 250px;" for="tables">Auswahl der Tabelle in diesm Arbeitsblatt</label>
            <FluentSelect TOption="TableModel"
                          Items="@Tables"
                          Id="tables"
                          OptionValue="@(p => p.TableName)"
                          OptionText="@(p => p.TableName)"
                          @bind-Value="@SelectedTable"
                          SelectedOptionChanged="async (s) => await Callback(s)"/>
        </div>
    }

    <div style="margin-top: 12px; display: flex; align-items: center; flex-direction: column;">
        <label style="width: 250px;" for="categories">Aufteilung nach kategorialer Variable in Tabelle: @SelectedTable</label>
        <FluentSelect TOption="string"
                      Items="@categories"
                      Id="categories"
                      OptionValue="@(p => p.ToString())"
                      OptionText="@(p => p.ToString())"
                      @bind-Value="@SelectedVariable"/>
    </div>

    <div style="margin-top: 12px; margin-bottom: 40px; display: flex; align-items: center; flex-direction: column;">
        <label style="width: 250px;" for="boxplotValues">Für welche Werte (Spalte) sollen die Boxplotkennzahlen erzeugt werden?</label>
        <FluentSelect TOption="string"
                      Items="@categories"
                      Id="boxplotValues"
                      OptionValue="@(p => p.ToString())"
                      OptionText="@(p => p.ToString())"
                      @bind-Value="@SelectedBoxplotValues"/>
    </div>

    <FluentButton Appearance="Appearance.Accent" style="width: 250px; margin-bottom: 12px;" @onclick="async () => await CreateWorksheetsAsync()">Schalter 1 (Aufteilung)</FluentButton>
    <FluentButton Appearance="Appearance.Accent" style="width: 250px; margin-bottom: 12px;" @onclick="async () => await Calc()">Schalter 2 (Kennzahlen)</FluentButton>
    <FluentButton Appearance="Appearance.Accent" style="width: 250px; margin-bottom: 12px;" @onclick="async () => await Reset()">Schalter 3 (Urzustand)</FluentButton>
    <!--<FluentButton Appearance="Appearance.Filled" style="width: 250px;" @onclick="async () => await Delete()">DELETE</FluentButton>-->
</div>

@code{

    private async Task Callback(TableModel changed)
    {
        UpdateCategoriesCollection(changed.TableName);
        
    }
    
    private string? SelectedTable { get; set; } = "";
    private string? SelectedVariable { get; set; } = "";
    private string? SelectedBoxplotValues { get; set; } = "";
    private string ActiveSheet = ""; 

    readonly List<string> categories = new();
    //readonly List<string> tables = new();
    private List<TableModel> Tables { get; set; } = new();
    private JsonSerializerOptions _options;
    private DotNetObjectReference<Index> _lDotNetReference;
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };
            _lDotNetReference = DotNetObjectReference.Create(this);
            await _jsRuntimeService.InvokeVoidAsync("registerOnActivateHandler", _lDotNetReference);
            await _jsRuntimeService.InvokeVoidAsync("getTablesFromActiveWorksheet");
            StateHasChanged();
        }
    }
    
    private async Task CreateWorksheetsAsync()
    {
        var json = await _jsRuntimeService.InvokeAsync<JsonElement>(
            "getValuesFromColumn", ActiveSheet, SelectedTable, SelectedVariable);

        var tbl = json.Deserialize<object[][]>(_options);
        List<string> distinctValues = new();
        (tbl ?? Array.Empty<object[]>()).ToList().ForEach(e =>
        {
            if (distinctValues.Contains(e[0].ToString()) == false)
            {
                distinctValues.Add(e[0].ToString());
            }
        });
        List<Task> tasks = distinctValues
            .Select(val => Task.Run(async () => await _jsRuntimeService
                .InvokeVoidAsync("createWorksheets", ActiveSheet, SelectedTable, SelectedVariable, val)))
            .ToList();
        try
        {
            await Task.WhenAll(tasks);
            await _jsRuntimeService.InvokeVoidAsync("getTablesFromActiveWorksheet");

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
    
    private async Task Delete()
    {
        await _jsRuntimeService.InvokeVoidAsync("deleteWorksheets", false);
        await _jsRuntimeService.InvokeVoidAsync("getTablesFromActiveWorksheet");
    }
    
    private async Task Calc()
    {
        await _jsRuntimeService.InvokeVoidAsync("createBoxplotFormulas", ActiveSheet, SelectedTable, SelectedBoxplotValues);
    }
    
    private async Task Reset()
    {
        await _jsRuntimeService.InvokeVoidAsync("deleteWorksheets", true);
        await _jsRuntimeService.InvokeVoidAsync("getTablesFromActiveWorksheet");
    }

    [JSInvokable]
    public async Task CallbackAllTablesInActiveWorksheet(JsonElement tablesArray, string activeSheetName)
    {
        var tablescb = tablesArray.Deserialize<TableModel[]>(_options);
        ActiveSheet = activeSheetName;
        Tables.Clear();
        //tables.Clear();
        Tables.AddRange(tablescb);
        foreach (var tbl in Tables)
        {
            //tables.Add(tbl.TableName);
            Console.WriteLine(tbl.TableName);
            Console.WriteLine(tbl.Categories.Length);
        }
        SelectedTable = Tables.Count > 0 ? Tables[0].TableName : "";
        //UpdateTablesCollection();
        UpdateCategoriesCollection(SelectedTable);
        await InvokeAsync(StateHasChanged);

    }

    void UpdateCategoriesCollection(string selectedTable)
    {
        categories.Clear();
        foreach (var table in Tables)
        {
            if (table.TableName != selectedTable) continue;
            for (int i = 0; i < table.Categories.Length; i++)
            {
                bool state = i == 0;
                if (state)
                {
                    SelectedVariable = table.Categories[i];
                }
                    
                categories.Add(table.Categories[i]);
            }
        }
    }
}